<div class="center bg">
  <div class="container-fluid">

    <nav class="row navbar fixed-top navbar-expand navbar-dark mx-auto">
      <a class="navbar-brand nav-brand ml-2" routerLink="currentquests">
        <img src="../../../assets/baseline-menu-white-48/1x/baseline_menu_white_48dp.png"/> 
      </a>
    
      <a class="navbar-text text-large">
        <b>{{currentPlanet.name}}</b>
      </a>
    
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link text-white text-small" role="button" data-toggle="dropdown">
            <img src="../../../assets/baseline-account_circle-white-48/1x/baseline_account_circle_white_48dp.png"/>
              {{signedInUser.name}}
            <img src="../../../assets/baseline-arrow_drop_down-white-48/1x/baseline_arrow_drop_down_white_48dp.png"/>
          </a>
    
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-white" (click)="logOutClicked()">Log Out</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="row justify-content-center align-items-center text-center mt-5 mb-5">
      
      <div class="col-sm-12 col-lg-4 align-self-start pt-5">
        <div class="card-cutty-sark border">
          
          <div class="card-header border-bottom">
            <b class="text-large text-uppercase">{{selectedQuest.title}}</b>
          </div>

          <div class="card-body">
            
            <div class="row justify-content-center align-items-center text-center mb-2">
              <b class="text-medium">{{selectedQuest.level1.name}} | {{selectedQuest.level2.name}}</b>
            </div>

            <div class="row justify-content-center align-items-center text-center mb-2">
              <span class="text-medium text-uppercase">XP: {{selectedQuest.max_xp}}</span>
            </div>

            <div class="row justify-content-center align-items-center text-center mb-2">
              <span>{{selectedQuest.description}}</span>
            </div>

            <div class="row justify-content-center align-items-center">
              <img class="img-small" src="../../../assets/{{currentPlanet.name}}.png"/>
            </div>

          </div>
          
        </div>
      </div>

      <div *ngIf="isInProgress || isModerating || isCompleted" class="col-sm-12 col-lg-4 align-self-start pt-5">
        <div class="card-cutty-sark border">

          <div class="card-header border-bottom">
            <b class="text-large">COMMENTS</b>
          </div>

          <div class="card-body mb-0 pb-0">
            <div *ngFor="let comment of allComments"  class="row">
              <div class="col-12">

                <div *ngIf="comment.isModerator" class="row">
                  <div class="col-10">
                    <div class="card-granny-smith p-2 text-left">
                      <span>{{comment.comment}}</span>
                    </div>
                    <p class="float-left font-italic">{{comment.timestamp.toDate() | date:'medium'}}</p>
                  </div>
        
                  <div class="col-2"></div>
                </div>
        
                <div *ngIf="!comment.isModerator" class="row">
                  <div class="col-2"></div>

                  <div class="col-10">
                    <div class="card-gothic p-2 text-right">
                      <span>{{comment.comment}}</span>
                    </div>
                    <p class="float-right font-italic">{{comment.timestamp.toDate() | date:'medium'}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card-footer border-top">
            <div class="row">

              <div class="col-9">
                <input #comment class="input border" type="text" placeholder="enter comment...">
              </div>
    
              <div class="col-3 my-auto" (click)="sendClicked(comment.value); comment.value = ''" style="cursor: pointer">
                <span>SEND</span>
              </div>
             
            </div>
          </div>

        </div>
      </div>

      <div *ngIf="isInProgress" class="col-sm-12 col-lg-4 align-self-start pt-5">
        <div class="card-cutty-sark border-gothic">

          <div class="card-header border-bottom-gothic">
            <b class="text-large">UPLOADS</b>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-12">

                <div *ngIf="!selectedFile" class="row justify-content-center align-items-center text-center">
                  <span>No File Chosen</span>
                </div>

                <div *ngIf="selectedFile" class="card-granny-smith p-2 text-center">
                  <span>{{selectedFile.name}}</span>
                </div>

              </div>
            </div>
          </div>

          <input type="file" multiple="false" style="display: none" #upload (change)="fileSelected($event)"/>  
          <button type="button" class="btn-gothic" (click)="upload.click()">UPLOAD</button>

        </div>
      </div>

    </div>

    <button *ngIf="isInProgress" class="btn-mosque fixed-bottom" (click)="submitClicked()">
      SUBMIT
    </button>

    <button *ngIf="selectedQuest.isAvailable" class="btn-mosque fixed-bottom" (click)="launchClicked()">
      LAUNCH
    </button>

    <div class="modal" role="dialog"
      [ngStyle]="{'display': message ? 'block': 'none', 'opacity': 1}"
      (click)="message = null">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="row">
            <div class="col-12">
              <button class="btn-close float-right">
                <span><b>X</b></span>
              </button>
            </div>
          </div>

          <div class="row justify-content-center align-items-center text-center">
            <div class="col-12">
              <span><b>{{message}}</b></span>
            </div>
          </div>
              
        </div>
      </div>
    </div>
    
  </div>
</div>