<div class="center bg">
  <div class="container-fluid">

    <nav class="row navbar fixed-top navbar-expand navbar-dark mx-auto">
      <a class="navbar-brand nav-brand ml-2" routerLink="currentquests">
        <img src="../../../assets/baseline-menu-white-48/1x/baseline_menu_white_48dp.png"/> 
      </a>
    
      <a class="navbar-text text-snuff text-large">
        <b>{{currentPlanet.name}}</b>
      </a>
    
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link text-white text-small" role="button" data-toggle="dropdown">
            <img src="../../../assets/baseline-account_circle-white-48/1x/baseline_account_circle_white_48dp.png"/>
              {{signedInUser.name}}
            <img src="../../../assets/baseline-arrow_drop_down-white-48/1x/baseline_arrow_drop_down_white_48dp.png"/>
          </a>
    
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-white" (click)="logOutClicked()">Log Out</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="row justify-content-center align-items-center text-center pt-5 pb-5">
      <div class="col-sm-12 col-lg-4 pt-5">
        <div class="card-cutty-sark border">
          <div class="card-header border-bottom text-uppercase pt-3">
            <b class="text-standard text-large">{{currentQuest.title}}</b>
          </div>

          <div class="card-body">
            
            <div class="row justify-content-center align-items-center text-center">
              <b class="text-snuff text-medium">{{currentQuest.level1.name}} | {{currentQuest.level2.name}}</b>
            </div>

            <div class="row justify-content-center align-items-center text-center">
              <p class="text-snuff text-medium">XP: {{currentQuest.max_xp}}</p>
            </div>

            <div class="row justify-content-center align-items-center text-center">
              <p class="text-snuff text-small">{{currentQuest.description}}</p>
            </div>

            <div class="row justify-content-center align-items-center text-center">
              <img class="img-small" src="../../../assets/{{currentPlanet.name}}.png"/>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 pt-4">
        <div class="card-cutty-sark border">
          <div class="card-header border-bottom pt-3">
            <b class="text-standard text-large">COMMENTS</b>
          </div>

          <div class="card-body mb-0 pb-0">
            <div *ngFor="let comment of allComments"  class="row">
              <div class="col-12">
                  <div *ngIf="comment.isModerator" class="row pb-3">
                      <div class="col-10">
                        <div class="card-granny-smith">
                          <div class="card-header">
                            <p>{{comment.comment}}</p>
                          </div>
                        </div>
                        <p class="float-left font-italic">{{comment.timestamp.toDate() | date:'medium'}}</p>
                      </div>
        
                      <div class="col-2"></div>
                    </div>
        
                    <div *ngIf="!comment.isModerator" class="row pb-3">
                      <div class="col-2"></div>
        
                      <div class="col-10">
                        <div class="card-gothic">
                          <div class="card-header">
                              <p>{{comment.comment}}</p>
                          </div>
                        </div>
                        <p class="float-right font-italic">{{comment.timestamp.toDate() | date:'medium'}}</p>
                      </div>
                    </div>
              </div>
            </div>
            
          </div>

          <div class="card-footer border-top">
              <div class="row">
                  <div class="col-9">
                    <input class="input border" type="text" placeholder="enter comment...">
                  </div>
    
                  <div class="col-3 my-auto">
                    <span>SEND</span>
                  </div>
                </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 pt-4">
        <div class="card-cutty-sark border-gothic">
          <div class="card-header border-bottom-gothic pt-3">
            <b class="text-standard text-large">UPLOADS</b>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="card-granny-smith">
                  <p>filename.png</p>
                </div>
              </div>
            </div>
          </div>

          <button class="btn-gothic">
              UPLOAD
          </button> 
        </div>
      </div>

    </div>

    <button class="btn-mosque fixed-bottom">
      Submit
    </button>
    
  </div>
</div>