<div class="middle bg">
  <div class="container">

    <div class="row justify-content-center align-items-center pb-3">
      <img class="img-responsive-medium" src="../../../assets/ic_logo.png"/>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-lg-6">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-lg-6">
            <input [(ngModel)]="newUser.email" class="input border mb-3 mr-3" 
              type="email" placeholder="Enter email...">
          </div>
        
          <div class="col-sm-12 col-lg-6">
            <input [(ngModel)]="newUser.password" class="input border mb-3" 
              type="password" placeholder="enter password...">
          </div>                 
        </div>
                  
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-lg-6">
            <input [(ngModel)]="newUser.name" class="input border mb-3 mr-3" 
              type="text" placeholder="enter name...">
          </div>
        
          <div class="col-sm-12 col-lg-6">
            <input [(ngModel)]="newUser.surname" class="input border mb-3" 
              type="text" placeholder="enter surname...">
          </div>
        </div>
        
        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <button class="btn-dark border mb-3" style="width: 50%" (click)="maleClickEvent()" 
              [ngClass]="maleStatus ? 'btn-dark border' : 'btn-transparent border'">Male</button>
        
            <button class="btn-dark border mb-3" style="width: 50%" (click)="femaleClickEvent()" 
              [ngClass]="femaleStatus ? 'btn-dark border' : 'btn-transparent border'">Female</button>
          </div>
        </div>
      </div>
    </div>
     
    <div class="row justify-content-center align-items-center">
      <div class="col-12">

        <div class="row justify-content-center align-items-center">
          <div class="col-sm-6 col-lg-3" *ngFor="let planet of planets">
            <div class="card-transparent border mb-3">
              <div class="card-body">
                <img class="img-responsive-small horizontal-center" src="../../../assets/codeez_logo.png"/>
                <h4 class="text-center">{{planet.name}}</h4>
              </div>
              <button class="btn-dark" (click)="createNewUser(); addNewUserPlanet(planet)">
                Register
              </button> 
            </div> 
          </div>
        </div>
      
      </div>
    </div>

  </div>
</div>
