<div class="center bg">
  <div class="container-fluid">
    
    <nav class="row navbar fixed-top navbar-expand navbar-dark mx-auto">
      <a class="navbar-brand nav-brand ml-2" routerLink="currentquests">
        <img src="../../../assets/baseline-menu-white-48/1x/baseline_menu_white_48dp.png"/> 
      </a>

      <a class="navbar-text text-large">
        <b>{{currentPlanet.name}}</b>
      </a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link text-white text-small" role="button" data-toggle="dropdown">
            <img src="../../../assets/baseline-account_circle-white-48/1x/baseline_account_circle_white_48dp.png"/>
            {{signedInUser.name}}
            <img src="../../../assets/baseline-arrow_drop_down-white-48/1x/baseline_arrow_drop_down_white_48dp.png"/>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-white" (click)="logOutClicked()">Log Out</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-lg-6">

        <div *ngIf="currentQuestExists" class="card-cutty-sark border-gothic">

          <div class="card-body">
            <div class="row mx-1">

              <div class="col-4 my-auto mx-auto">
                <div class="row justify-content-center align-items-center">
                  <img class="img-medium" src="../../../assets/{{currentPlanet.name}}.png"/>
                </div>
              </div>

              <div class="col-4 my-auto mx-auto">
                <div class="row justify-content-center align-items-center text-center">
                  <span class="text-snuff text-medium"><b>{{currentQuest.title}}</b></span>
                </div>
                <div class="row justify-content-center align-items-center text-center">
                  <span class="text-snuff text-small">{{currentQuest.level1.name}} | {{currentQuest.level2.name}}</span>
                </div>
              </div>

              <div class="col-4 my-auto mx-auto">
                <div class="row justify-content-center align-items-center">
                  <img class="img-small" src="../../../assets/{{currentQuest.status}}.png"/>
                </div>
                <div class="row justify-content-center align-items-center text-center">
                  <span class="text-snuff text-small"><b>{{status}}</b></span>
                </div>
              </div>

            </div>
          </div>

                
          <button class="btn-gothic" (click)="navigateQuest()">
            VIEW
          </button> 
                
        </div> 

        <div *ngIf="!currentQuestExists" class="card-cutty-sark border-gothic">
          <div class="card-body">
            <div class="row">

              <div class="col-12">
                <div class="row justify-content-center align-items-center text-center">
                  <span class="text-snuff text-medium"><b>No Quest In Progress</b></span>
                </div>
              </div>

            </div>
          </div>

          <!-- <button class="btn-gothic">
            Explore
          </button>  -->
        </div> 

      </div>
    </div>

  </div>
</div>