<div class="full bg">
  <div class="container-fluid p-0">
    
    <nav class="row navbar static-top navbar-expand navbar-dark navbar mx-auto">
      <a class="navbar-brand nav-brand ml-2" routerLink="currentquests">
        <img src="../../../assets/baseline-menu-white-48/1x/baseline_menu_white_48dp.png"/> 
      </a>

      <a class="navbar-text text-white">
        <b style="font-size: 125%">{{currentPlanet.name}}</b>
      </a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="#" role="button" data-toggle="dropdown" style="font-size: 75%">
            <img src="../../../assets/baseline-account_circle-white-48/1x/baseline_account_circle_white_48dp.png"/>
            {{signedInUser.name}}
            <img src="../../../assets/baseline-arrow_drop_down-white-48/1x/baseline_arrow_drop_down_white_48dp.png"/>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" (click)="logOutClicked()">Log Out</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="row justify-content-center align-items-center mx-auto border-bottom w-100 mw-100 pt-3 pb-3">
        <div class="col-4">
          <div class="row justify-content-center align-items-start">
            <img class="img-responsive-medium" src="../../../assets/codeez_logo.png"/>
          </div>
        </div>
        <div class="col-4">
          <div class="row justify-content-center align-items-center">
            <b class="text-standard" style="font-size: 125%">{{currentQuest.title}}</b>
          </div>
          <div class="row justify-content-center align-items-center text-center">
              <p class="text-standard" style="font-size: 100%">{{currentQuest.description}}</p>
          </div>
        </div>
        <div class="col-4">
          <div class="row justify-content-center align-items-end">
            <img class="img-responsive-medium" src="../../../assets/{{currentQuest.status}}.png"/>
          </div>
          <div class="row justify-content-center align-items-end">
            <b class="text-standard" style="font-size: 100%">{{status}}</b>
          </div>
        </div>
      </div>

  </div>
</div>