<div class="container-fluid pt-5">

  <div *ngIf="userSignedIn" class="row justify-content-center align-items-center">
    <div class="col-sm-12 col-lg-6">

      <div *ngIf="currentQuestExists" class="card-cutty-sark border-gothic">

        <div class="card-body">
          <div class="row mx-1">

            <div class="col-4 my-auto mx-auto">
              <div class="row justify-content-center align-items-center">
                <img class="img-medium" src="../../../assets/{{currentPlanet.name}}.png" />
              </div>
            </div>

            <div class="col-4 my-auto mx-auto">
              <div class="row justify-content-center align-items-center text-center">
                <span class="text-medium"><b>{{currentQuest.title}}</b></span>
              </div>

              <div class="row justify-content-center align-items-center text-center">
                <span>{{currentQuest.level1.name}} | {{currentQuest.level2.name}}</span>
              </div>
            </div>

            <div class="col-4 my-auto mx-auto">
              <div class="row justify-content-center align-items-center">
                <img class="img-small" src="../../../assets/{{currentQuest.status}}.png" />
              </div>

              <div class="row justify-content-center align-items-center text-center mt-2">
                <span class="text-small"><b>{{status}}</b></span>
              </div>
            </div>

          </div>
        </div>

        <button class="btn-gothic" (click)="viewQuestClicked()">
          VIEW
        </button>

      </div>

      <div *ngIf="!currentQuestExists" class="card-cutty-sark border-gothic">

        <div class="card-body">
          <div class="row">

            <div class="col-12">
              <div class="row justify-content-center align-items-center text-center">
                <span>No Current Quest</span>
              </div>
            </div>

          </div>
        </div>

        <button class="btn-gothic" (click)="navigateQuests()">
          EXPLORE
        </button>

      </div>

    </div>
  </div>

  <button *ngIf="userSignedIn" class="btn-mosque fixed-bottom" (click)="navigateQuests()">
    EXPLORE
  </button>

  <div *ngIf="moderatorSignedIn" class="row justify-content-center align-items-center">
    <div class="col-12">

      <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 col-lg-3" *ngFor="let planet of allPlanets">
          <div class="card-transparent border mb-3">

            <div class="card-body text-center">
              <img class="img-small mx-auto" src="../../../assets/{{planet.name}}.png" />
              <h4>{{planet.name}}</h4>
              <span>{{planet.description}}</span>
            </div>

            <button class="btn-mosque" (click)="viewPlanetClicked(planet)">
              VIEW
            </button>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>