<div class="container-fluid">

  <div class="row justify-content-center align-items-center text-center mt-5 mb-5">

    <div class="col-sm-12 col-lg-6 align-self-start mb-2">
      <div class="card-cutty-sark border">

        <div class="card-header border-bottom">
          <b class="text-large">{{selectedExplorer.name}} {{selectedExplorer.surname}}</b>
        </div>

        <div class="card-body">

          <div class="row justify-content-center align-items-center text-center mb-2">
            <b class="text-medium">PLANET: {{currentPlanet.name}}</b>
          </div>

          <div class="row justify-content-center align-items-center text-center mb-2">
            <span class="text-medium text-uppercase">XP: {{selectedExplorer.xp}}</span>
          </div>

          <!-- <div class="row justify-content-center align-items-center text-center mb-2">
              <span>{{currentPlanet.name}}</span>
            </div> -->

          <div class="row justify-content-center align-items-center">
            <img class="img-small" src="../../../assets/{{currentPlanet.name}}.png" />
          </div>

        </div>

      </div>
    </div>

    <div class="col-sm-12 col-lg-6 align-self-start mb-2">
      <div class="card-cutty-sark border-gothic">

        <div class="card-header border-bottom-gothic">
          <b class="text-large">QUESTS</b>
        </div>

        <div class="card-body">
          <div *ngFor="let quest of questsWithNewComments" class="row">
            <div class="col-12">
              <div class="card-granny-smith m-2 py-2" style="cursor: pointer;" (click)="questClicked(quest)">
                <div class="row justify-content-center align-items-center text-center">
                  <b class="text-medium">{{quest.title}}</b>
                </div>

                <div class="row justify-content-center align-items-center text-center">
                  <span class="text-medium">{{quest.level1.name}} | {{quest.level2.name}}</span>
                </div>

                <div class="row justify-content-center align-items-center text-center">
                  <span *ngIf="quest.status === 'moderating'" class="badge badge-dark p-2 mr-2">moderating quest</span>
                  <span *ngIf="quest.newComments" class="badge badge-light p-2">new comments</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <button type="button" class="btn-gothic" (click)="createClicked()">CREATE</button> -->

      </div>
    </div>

  </div>

</div>