<div class="center bg">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-lg-6">

        <div class="row justify-content-center align-items-center pb-2">
          <img src="../../../assets/sign_in_title.png"/>
        </div>

        <div class="row justify-content-center align-items-center pb-4">
          <img class="img-responsive-medium" src="../../../assets/ic_logo.png"/>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12">

            <!-- <div *ngIf="message != null" class="row justify-content-center align-items-center text-center">
              <p style="color: rgb(230, 220, 201)">{{message}}</p>
            </div> -->

            <div class="row justify-content-center align-items-center">
              <div class="col-sm-12 col-lg-6">
                <input #email class="input border mb-3"
                  type="email" placeholder="enter email..." value="blah@gmail.com">
              </div>

              <div class="col-sm-12 col-lg-6">
                <input #password class="input border mb-3"
                  type="password" placeholder="enter password..." value="blah">
              </div>
            </div>

            <div class="row justify-content-center align-items-center">
              <button class="btn-dark mr-3 ml-3 mb-3" (click)="signInClicked(email.value, password.value)">
                Sign In
              </button>
            </div>

            <div class="row justify-content-center align-items-center">
              <div class="col-sm-12 col-lg-6 text-center">
                <p style="color: rgb(230, 220, 201)">No account?</p>
              </div>

              <div class="col-sm-12 col-lg-6">
                <button class="btn-light" (click)="navigateRegister()">
                  Register
                </button>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="modal" role="dialog"
      [ngStyle]="{'display': message ? 'block': 'none', 'opacity': 1}"
      (click)="message = null">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
          <div class="modal-body">
            <span><b>{{message}}</b></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
