<div class="middle bg">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-4">
        <div class="row justify-content-center align-items-center pb-4">
          <img src="../../../assets/sign_in_title.png"/>
        </div>
        <div class="row justify-content-center align-items-center pb-5">
          <img class="img-responsive" src="../../../assets/ic_logo.png"/>
        </div>
        <div class="row justify-content-center align-items-center">
          <img src="../../../assets/sign_in_btn_google.png" (click)="signIn()"/>
        </div>
        <button class="btn btn-pill btn-success form-control nav-item nav-link-edit" [routerLink]="['/register']">Register</button>
      </div>
    </div>
  </div>
</div>