<div class="container-fluid">

  <div class="row justify-content-center align-items-center text-center mt-5 mb-4">

    <div class="col-sm-12 col-lg-6 align-self-start mb-5">
      <div class="card-cutty-sark border">

        <div class="card-header border-bottom">
          <b class="text-large">EXPLORERS</b>
        </div>

        <div class="card-body mb-0 pb-0">
          <div *ngFor="let explorer of explorersRequiringModeratorAction" class="row">
            <div class="col-12">
              <div class="card-gothic m-2 py-2" style="cursor: pointer;" (click)="explorerClicked(explorer)">
                <div class="row justify-content-center align-items-center text-center">
                  <b class="text-medium">
                    {{explorer.name}} {{explorer.surname}}
                  </b>
                </div>

                <div class="row justify-content-center align-items-center text-center">
                  <span class="text-medium text-uppercase">XP: {{explorer.xp}}</span>
                </div>

                <div claxss="row justify-content-center align-items-center text-center">
                  <span *ngIf="explorer.isModerating" class="badge badge-dark p-2 mr-2">moderating quest</span>
                  <span *ngIf="explorer.newComments" class="badge badge-light p-2">new comments</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer" style="border-top: none"></div>

      </div>
    </div>

    <div class="col-sm-12 col-lg-6 align-self-start mb-5">
      <div class="card-cutty-sark border-gothic">

        <div class="card-header border-bottom-gothic">
          <b class="text-large">QUESTS</b>
        </div>

        <div class="card-body">
          <div *ngFor="let quest of planetQuests" class="row">
            <div class="col-12">
              <div class="card-granny-smith m-2 py-2" style="cursor: pointer;" (click)="questClicked(quest)">
                <div class="row justify-content-center align-items-center text-center">
                  <b class="text-medium">{{quest.title}}</b>
                </div>

                <div class="row justify-content-center align-items-center text-center">
                  <span class="text-medium">{{quest.level1.name}} | {{quest.level2.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn-gothic" (click)="createClicked()">CREATE</button>

      </div>
    </div>

  </div>

  <button type="button" class="btn-mosque fixed-bottom" (click)="createClicked()">
    CREATE
  </button>

</div>