<mat-toolbar *ngIf="userSignedIn || moderatorSignedIn" color="warn">
  <mat-toolbar-row class="row navbar fixed-top navbar-expand navbar-dark mx-auto">
    <button class="navbar-brand nav-brand" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <img class="img-small" src="../../../assets/baseline-menu-white-48/1x/baseline_menu_white_48dp.png" />
    </button>

    <span class="navbar-text text-medium text-white ml-3">
      <b *ngIf="userSignedIn">{{currentPlanet.name}}</b>
      <b *ngIf="moderatorSignedIn">dashboard</b>
    </span>

    <div class="ml-auto">
      <div class="nav-item dropdown">
        <span class="nav-link text-white text-small" role="button" data-toggle="dropdown">
          {{signedInUser.name}}
          <img src="../../../assets/baseline-arrow_drop_down-white-48/1x/baseline_arrow_drop_down_white_48dp.png" />
        </span>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item text-white" (click)="logOutClicked()">Log Out</a>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container bg center">
  <mat-sidenav *ngIf="userSignedIn || moderatorSignedIn" class="sidenav" #drawer mode="side" opened role="navigation">
    <mat-nav-list *ngIf="moderatorSignedIn">
      <a *ngFor="let component of moderatorComponents" mat-list-item
        (click)="navigateComponent(component)">{{component}}</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="userSignedIn">
      <a *ngFor="let component of userComponents" mat-list-item (click)="navigateComponent(component)">{{component}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>