@import '~bootstrap/dist/css/bootstrap.min.css';

.bg {
    background-image: url('/assets/bg_one.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
    align-items: center;
    padding: 20px;
}

.img-responsive-large {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
    display: block;
}

.img-responsive-medium {
    width: 150px;
    height: 150px;
    max-width: 100%;
    height: auto;
    display: block;
}

.img-responsive-small {
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
    display: block;
}

.input {
    background: transparent;
    color: rgb(230, 220, 201);
    height: 40px;
    width: 100%; 
    padding-left: 3%;
    padding-right: 3%;   
}

.border {
    border-width: 1px;
    border-color: rgb(230, 220, 201);
    border-style: solid;
}

.btn-dark {
    background: rgb(4, 101, 101, 0.9);
    border: none;
    color: rgb(230, 220, 201);
    height: 40px;  
    width: 100%;
    cursor:default !important;  
}

.btn-light {
    background: rgb(85, 119, 123, 0.9);
    border: none;
    color: rgb(230, 220, 201);
    height: 40px;  
    width: 100%; 
    cursor:default !important;
}

.btn-transparent {
    background: transparent;
    border: none;
    color: rgb(230, 220, 201);
    height: 40px;  
    width: 100%;
}

.btn-dark:hover {
    background: rgb(4, 101, 101, 0.9);
    color: rgb(230, 220, 201);
}

.btn-light:hover {
    background: rgb(85, 119, 123, 0.9);
    color: rgb(230, 220, 201);
}

.btn-transparent:hover {
    background: transparent;
    color: rgb(230, 220, 201);
}

.modal {
    background-color: rgba(0,0,0,0.9);
}

.card-transparent {
    background: transparent;
    color: rgb(230, 220, 201);
    border-radius: 0% !important;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background: rgb(4, 101, 101, 0.9);
    color: rgb(230, 220, 201);
}

.dropdown-menu {
    background: rgb(85, 119, 123);
    border-radius: 0%;
}

.dropdown-menu:hover {
    background: white;
}

.dropdown-menu a:hover {
    background: transparent;
    color: rgb(85, 119, 123);
}

.dropdown-item {
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(230, 220, 201);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(230, 220, 201);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(230, 220, 201);
}