@import '~bootstrap/dist/css/bootstrap.min.css';

body, html {
    height: 100%;
}
  
.bg { 
  background: url('/assets/bg_one.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100% - 64px);
}

.toolbar {
    background: rgb(4, 101, 101);
    color: rgb(255,255,255);
    height: 64px;
    min-height: 64px;
    max-height: 64px;
}

.sidenav {
    margin-top: 64px;
    background: rgb(107, 157, 160);
    color: rgb(232,227,240);
    min-width: 15%;
    position: fixed !important;
}

.img-xlarge {
    max-height: 50%;
    max-width: 450;
    height: auto;
    width: auto;
}

.img-large {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
    display: block;
}

.img-medium {
    width: 150px;
    height: 150px;
    max-width: 100%;
    height: auto;
    display: block;
}

.img-small {
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
    display: block;
}

.input {
    background: transparent;
    color: rgb(232,227,240);
    height: 40px;
    width: 100%; 
    padding-left: 3%;
    padding-right: 3%;   
    border-width: 1px;
    border-color: rgb(232,227,240);
    border-style: solid;
}

.border {
    border-width: 1px;
    border-color: rgb(232,227,240);
    border-style: solid;
}

.border-top {
    border-width: 1px;
    border-top-color: rgb(232,227,240);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
}

.border-bottom {
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(232,227,240);
    border-left-color: transparent;
    border-style: solid;
}

.border-right-left {
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: rgb(232,227,240);
    border-bottom-color: transparent;
    border-left-color: rgb(232,227,240);
    border-style: solid;
}

.border-left {
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(232,227,240);
    border-style: solid;
}

.border-right {
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: rgb(232,227,240);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
}

.border-gothic {
    border-width: 1px;
    border-color: rgb(107,157,160);
    border-style: solid;
}

.border-bottom-gothic {
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(107,157,160);
    border-left-color: transparent;
    border-style: solid;
}

.btn-mosque {
    background: rgb(4, 101, 101, 0.9);
    border: none;
    color: rgb(232,227,240);
    height: 40px;  
    width: 100%;
    cursor: pointer; 
}

.btn-gothic {
    background: rgb(107, 157, 160, 0.9);
    border: none;
    color: rgb(232,227,240);
    height: 40px;  
    width: 100%; 
    cursor: pointer;
}

.btn-transparent {
    background: transparent;
    border: none;
    color: rgb(232,227,240);
    height: 40px;  
    width: 100%;
    cursor: pointer;
}

.btn-close {
    background: transparent;
    border: none;
    color: rgb(232,227,240);
    height: 30px;  
    cursor: pointer;
}

.btn-mosque:hover {
    background: rgb(4, 101, 101, 0.9);
    color: rgb(232,227,240);
}

.btn-gothic:hover {
    background: rgb(107, 157, 160, 0.9);
    color: rgb(232,227,240);
}

.btn-transparent:hover {
    background: transparent;
    color: rgb(232,227,240);
}

.btn-close:hover {
    background: transparent;
    color: rgb(232,227,240);
}

.btn-mosque:active {
    border: none;
    outline: none;
}

.btn-gothic:active {
    border: none;
    outline: none;
}

.btn-transparent:active {
    border: none;
    outline: none;
}

.btn-close:active {
    border: none;
    outline: none;
}

.text-snuff {
    color: rgb(232,227,240);
}

.text-large {
    font-size: 125%;
}

.text-medium {
    font-size: 100%;
}

.text-small {
    font-size: 75%;
}

.modal-img {
    background: rgba(0,0,0,0.9);
    top: 64px;
    overflow: auto;
    height: calc(100% - 64px);
}

.modal {
    background: rgba(0,0,0,0.9);
    top: 64px;
}

.modal-content {
    background: rgb(4, 101, 101, 0.9);
    color: rgb(232,227,240);
    border-radius: 0% !important;
    padding: 0% 1% 30px 1%;
}

.card-transparent {
    background: transparent;
    color: rgb(232,227,240);
    border-radius: 0% !important;
}

.card-cutty-sark {
    background: rgb(85, 119, 123, 0.9);
    color: rgb(232,227,240);
    border-radius: 0% !important;
}

.card-gothic {
    background: rgb(107, 157, 160, 0.9);
    color: rgb(232,227,240);
    border-radius: 0% !important;
}

.card-granny-smith {
    background: rgb(141, 162, 164, 0.9);
    color: rgb(232,227,240);
    border-radius: 0% !important;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-menu {
    background: rgb(85, 119, 123);
    color: rgb(255,255,255);
    border-radius: 0%;
}

.dropdown-menu:hover {
    background: rgb(85, 119, 123);
    color: rgb(255,255,255);
}

.dropdown-menu a:hover {
    background: rgb(85, 119, 123);
    color: rgb(255,255,255);
    cursor: pointer;
}

.dropdown-item {
    background: rgb(85, 119, 123);
    color: rgb(255,255,255);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(232,227,240);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(232,227,240);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(232,227,240);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
