@import '~bootstrap/dist/css/bootstrap.min.css';

.bg {
    background-image: url('/assets/bg_one.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.middle {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
    align-items: center;
}